.chart-container{
    height: auto;
    width: 100%;
    margin: auto;
}

.contenedor{
    height: max-content;
    width: 100%;
    margin: auto;
}

.chart{
    height: 100%;
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 576px) {
    .contenedor{
        height: auto;
        width: auto;
        overflow-x: auto;
    } 

    .chart{
        height: max-content;
        width: 400px;
    }
}