<div>
    <table class="table-responsive table-sm table-bordered">
        <thead>
            <th><p style="font-size: 1rem;">Cliente</p></th>
            <th><p style="font-size: 1rem;">Proyecto</p></th>
            <th><p style="font-size: 1rem;">Descripcion</p></th>
        </thead>
        <tbody>
            <tr *ngFor="let element of ticketsUnManaged">
                <td>{{element.cliente}}</td>
                <td>{{element.proyecto}}</td>
                <td>{{element.descripcion}}</td>
            </tr>
        </tbody>
    </table>
</div>   