app-header{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index: 21;
  }
  
  main{
    position: relative;
    width: 100%;
    top: 4rem;
    z-index: 20;
  }
  
  .display-area-shrink{
    width: 100%;
  }
  

  @media screen and (max-width: 500px) {
    main{
      position: relative;
      width: 100%;
      top: 4rem;
      z-index: 20;
    }
  }