
.contendor{
    height: 100%;
    width: 100%;
    margin: auto;
}

.chart-container{
    height: max-content;
    width: 100%;
    margin: auto;
}

.chart{
    height: 100%;
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 576px) {
    .chart-container{
        height: auto;
        width: auto;
        overflow-x: auto;
    } 

    .chart{
        height: max-content;
        width: 800px;
    }
}