<div class="contenedor">
    <div class="card-header"
         style="background-color: #515A5A ;display: flex;align-items: center;justify-content: center; 
         border-radius: 5px; box-shadow: 5px 5px 10px;">
      <h3 class="text-white align-middle fw-bold mt-3"
        style="font-family: 'Roboto', sans-serif;">
        Tickets sin resolver por clientes
        </h3>
    </div>
    <div class="chart-container" style="box-shadow: 5px 5px 10px; border-radius: 5px;">
        <div class="chart">
            <canvas  id="MyChart" style="padding: 20px;">{{chart}}</canvas>
        </div>
    </div>
</div>
