<div class="card" style="box-shadow: 5px 5px 20px;">
    <div class="card-header"
         style="background-color: #515A5A;display: flex;align-items: center;justify-content: center;
         box-shadow: 5px 5px 20px; border-radius: 5px;">
      <h3 class="text-white align-middle fw-bold mt-2"
        style="font-family: 'Roboto', sans-serif;">
        Tickets nuevos
        </h3>
    </div>
    <div class="card-body" style="background-color: #ECF0F1 ;">
      <div class="row">
        <div class="col-12 table-responsive table-wrapper" style="display: flex; position: relative;">
            <table class="table table-sm" style="position: relative; height: 100%;">
                <thead>
                    <th><p style="font-size: 1rem;">Hora</p></th>
                    <th><p style="font-size: 1rem;">Cliente</p></th>
                </thead>
                <tbody style="position: relative; height: 100%;">
                    <tr *ngFor="let element of dataSource">
                        <td><p style="font-size: 1rem;">{{element.fecha | date:'short'}}</p></td>
                        <td><p style="font-size: 1rem;">{{element.message}}</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>    
    </div>
  </div>