.table-wrapper{
    height: 740px;
    overflow-y: auto;
    display: flex;

    table {
        width: 100%;
        height: 50px;
        border-collapse: collapse;
    }
}

.card{
    h2{
        font-size: 2rem;
        font-weight: bold;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
    
    table{
        background-color: #ECF0F1;
        border-collapse: collapse;
    }
}

@media screen and (min-width: 768px) {
    .table-wrapper{
        height: 705px;
        overflow-y: auto;
    }  
}

@media screen and (min-width: 840px) {
    .table-wrapper{
        height: 730px;
        overflow-y: auto;
    }  
}

@media screen and (min-width: 900px) {
    .table-wrapper{
        height: 755px;
        overflow-y: auto;
    }  
}

@media screen and (min-width: 1024px){
    .table-wrapper{
        height: 800px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1128px) {
    .table-wrapper{
        height: 840px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1260px) {
    .table-wrapper{
        height: 890px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1300px) {
    .table-wrapper{
        height: 905px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1366px) {
    .table-wrapper{
        height: 930px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1440px) {
    .table-wrapper{
        height: 955px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1550px) {
    .table-wrapper{
        height: 995px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1700px) {
    .table-wrapper{
        height: 1050px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1800px) {
    .table-wrapper{
        height: 1090px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1920px) {
    .table-wrapper{
        height: 1130px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 2040px) {
    .table-wrapper{
        height: 1175px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 2160px) {
    .table-wrapper{
        height: 1220px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 2280px) {
    .table-wrapper{
        height: 1265px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 2400px) {
    .table-wrapper{
        height: 1310px;
        overflow-y: auto;
    }
}





