.table-wrapper{
    height: 740px;
    overflow-y: auto;
}

.card{
    h2{
        font-size: 2rem;
        font-weight: bold;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
    
    table{
        background-color: #ECF0F1;
    }
}

@media screen and (min-width: 768px) {
    .table-wrapper{
        height: 555px;
        overflow-y: auto;
    }  
}

@media screen and (min-width: 840px) {
    .table-wrapper{
        height: 577px;
        overflow-y: auto;
    }  
}

@media screen and (min-width: 900px) {
    .table-wrapper{
        height: 600px;
        overflow-y: auto;
    }  
}

@media screen and (min-width: 1024px){
    .table-wrapper{
        height: 645px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1128px) {
    .table-wrapper{
        height: 685px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1260px) {
    .table-wrapper{
        height: 735px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1300px) {
    .table-wrapper{
        height: 750px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1366px) {
    .table-wrapper{
        height: 775px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1440px) {
    .table-wrapper{
        height: 800px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1550px) {
    .table-wrapper{
        height: 840px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1700px) {
    .table-wrapper{
        height: 900px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1800px) {
    .table-wrapper{
        height: 935px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1920px) {
    .table-wrapper{
        height: 975px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 2040px) {
    .table-wrapper{
        height: 1025px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 2160px) {
    .table-wrapper{
        height: 1070px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 2280px) {
    .table-wrapper{
        height: 1115px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 2400px) {
    .table-wrapper{
        height: 1160px;
        overflow-y: auto;
    }
}





