

.card{
    // width: 420px;
    // margin-top: 20px;
    // margin-left: auto;
    // margin-right: auto;
    h2{
        font-size: 2rem;
        font-weight: bold;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
    
    table{
        background-color: #ECF0F1;
    }
}